.App {
  text-align: center;
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

.hero-row {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hero-down-arrows {
  font-size: calc(15rem + 2vmin);
  color: white;
}

.scroll-container {
  border: solid 3px white;
  background-color: #282c34;
  width: 100vw;
  padding: 3.125rem;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.animated-text {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
